<!DOCTYPE html>
<html>
<head>
    <title>AI Finance Tracker</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">
             AI Finance Tracker nk
        </span>
    </div>
</nav>

<div class="container mt-5">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}

</body>
</html>
